.pragmatic_logo {
    margin-top: 1rem;
    font-family: 'WindSong', cursive;
}

.pragmatic_footer_button {
    font-size: .8rem;
}

.pragmatic_footer {
    text-align: center;
    margin-top: 2rem;
}

.pragmatic_header_logo {
    font-weight: bold;
}

.pragmatic_header {
    text-align: center;
    margin: 1rem 0;
}